<div class="container">
  <form action="/create" method="post">
    <label>Title:
      <input type="text" name='post[title]' placeholder="Title">
    </label>
    <br>
    <label>Body:
    <textarea type="text" name='post[body]' rows='4' cols='30'>Enter Post Here</textarea>
    </label>
    <br>
    <label>Tags:
    <input type="text" name='post[tags]' placeholder="Tags">
    </label>
    <br>
    <input type="submit">
  </form>
</div>
