<h1 class="index_header">Welcome to Anonymous Blog</h1>
<div class="container">
  <h2>Login</h2>
  <form action="/login" method="post">
    <input type="text" name="user[email]" placeholder="Email">
    <br>
    <input type="password" name="user[password]" placeholder="Password">
    <br>
    <input type="submit" value="Login">
  </form>

  <h2>Sign up</h2>
  <form action="/register" method="post">
    <input type="text" name="user[name]" placeholder="Name">
    <br>
    <input type="text" name="user[email]" placeholder="Email">
    <br>
    <input type="password" name="user[password]" placeholder="Password">
    <br>
  
    <input type="submit">
  </form>
</div>
