<div class="container">
  <h2>All Posts</h2>
  <ul>
    <% @posts.each do |post| %>
      <li><a href='/post/<%= post.id %>'><%= post.title %></a></li>
      <button><a href="/post/<%= post.id %>/delete">Delete Post</a></button>
    <% end %>
  </ul>

  <h3>See posts by:</h3>
    <form action="/users/id/posts" method="post">
      <input type="text" name='name' placeholder="Author name">
      <input type="submit">
    </form>
</div>
